<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<header>
        <h1>Secure Application Programming Project</h1>
    </header>
	<h2>Login</h2>
	<form action="/login" method="POST">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username"><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>
		<input type="submit" value="Login">
	</form>
    <br>
    <a href="/register"><button type="submit">Need to Register?</button></a>
</body>
</html>